[defaults]
inventory = inventory/host.ini
log_path = logs/ansible.log
roles_path = roles_path
host_key_checking = False
stdout_callback = yaml
depreaction_warning =False

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False