services:

{% for web_app_name, app_config in web_services.items() %}
  {{ web_app_name }}:
    image: {{ app_config.image }}
    ports:
      - "{{ app_config.host_port }}:{{ app_config.container_port }}"
    
    {% if app_config.env is defined %}
    environment:
      {% for env_key, env_val in app_config.env.items() %}
      {{ env_key }}: "{{ env_val }}"
      {% endfor %}
    {% endif %}
    
    restart: always
{% endfor %}