============================================
ПРИВЕТ! ТЫ НА СЕРВЕРЕ: {{ ansible_hostname }}
============================================
* Владелец: {{ owner_name }}
* Операционка: {{ ansible_distribution }} {{ ansible_distribution_version }}
* Публичный IP: {{ ansible_default_ipv4.address }}
* Настройка завершена: {{ ansible_date_time.date }}

ВНИМАНИЕ: Все действия логируются!
============================================
